/*===================MENU=====================*/
i {
    color: white;
}
/*===================MENU=====================*/


span {
    color: #fff;
}


#logotipo-topo {
    margin-top: -9px;
}


#menus {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;

    
    background-color: #014f5b;
}



#menus a:hover {
    color: #f1f1f1;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #014f5b;
}


#segundo-menu {
    font-size: 15px;
    background-color: #014f5b;
    color: #014f5b;
}



#segundo-menu a {
    background-color: #014f5b;
    color: #f1f1f1;
}



#segundo-menu a:hover {
    background: #013941;
    color: #f1f1f1;
}




#terceiro-menu {
    font-size: 15px;
    background-color: #014f5b;
}


#terceiro-menu a {
    background-color: #014f5b;
    color: #f1f1f1;
}



#terceiro-menu a:hover {
    background: #013941;
    color: #f1f1f1;
}







/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

















/*===================Footer=====================*/


/*===================Footer=====================*/

#baixo {
    background-color: white;
}

#baixo p {
    font-size: 15px;
}


#txt-footer1 a:link{
    text-decoration: none;
}

#txt-footer1 a:hover {
    color: #3b3b3b;
}




#txt-footer2 a:link{
    text-decoration: none;
}
#txt-footer2 a:hover {

    color: #3b3b3b;
}



#txt-footer3 a:link{
    text-decoration: none;
}

#txt-footer3 a:hover {

    color: #3b3b3b;
}

/*===================logos footer=====================*/
#ccs {
    height: 80px;
}

#iti {
    height: 80px;
}

#visa {
    height: 50px;
}

#boleto {
    height: 50px;
}

#seg {
    height: 60px;
}
/*===================logos footer=====================*/



/*===================Final=====================*/
#final {
    margin-top: 10px;
    background-color: #014f5b;
    height: auto;

}

#final p {
    color: whitesmoke;
}
/*===================Final=====================*/



/*==============================================*/



/*===================Footer=====================*/




/*===================Space=====================*/
.space-10{
    height: 10px;
}

.space-20{
    height: 20px;
}

.space-30{
    height: 30px;
}

.space-40{
    height: 40px;
}
.space-50{
    height: 50px;
}

.space-60{
    height: 60px;
}

.space-70{
    height: 70px;
}

.space-80{
    height: 80px;
}

.space-90{
    height: 90px;
}

.space-100{
    height: 100px;
}
/*===================Space=====================*/
